<section id="about" class="home-section wg-about   ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div id="profile">
                    <img class="avatar avatar-circle" src="/admin/sihat.jpg" alt="Avatar">
                    <div class="portrait-title">
                        <h2>Irfan Karim</h2>
                        <h3>Prosprective Graduate Student, Fall'24</h3>
                        <!-- <h3>
                            <a href="https://www.wisc.edu/" target="_blank" rel="noopener">
                                <span>University of Wisconsin-Madison</span>
                            </a>
                        </h3> -->
                    </div>
                    <ul class="network-icon" aria-hidden="true">
                        <li>
                            <a href="mailto:irfankarim5656@gmail.com">
                                <i class="fas fa-envelope big-icon"></i>
                            </a>
                        </li>
                      <!--  <li>
                            <a href="https://scholar.google.com/citations?hl=en&authuser=2&user=Rc0VKrMAAAAJ" target="_blank" rel="noopener">
                                <i class="ai ai-google-scholar big-icon"></i>
                            </a>
                        </li> -->
                        <li>
                            <a href="https://www.linkedin.com/in/irfankarim5656/" target="_blank" rel="noopener">
                                <i class="fab fa-linkedin big-icon"></i>
                            </a>
                        </li>
                         <!-- <li>
                          <a href="https://twitter.com/littleboy1010" target="_blank" rel="noopener">
                                <i class="fab fa-twitter big-icon"></i> 
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/sihatafnan" target="_blank" rel="noopener">
                                <i class="fab fa-github big-icon"></i>
                            </a>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <!-- <p> I am enthusiastic about ... and my interest lies broadly in:</p>
                <blockquote>
                    <ul>
                        <li>
                            <p style="font-variant:small-caps"><b>...</b></p>
                        </li>
                        <li>
                            <p style="font-variant:small-caps"><b></b>...</p>
                        </li>
                    </ul>
                </blockquote> -->
                <p>I'm a recent graduate in the Department of Civil Engineering from Bangladesh University of Engineering and Technology, BUET (class of 2023). I'm currently working as a <b>Research Assistant</b> in the Bureau of Research, Testing and Consultation, BRTC-BUET.</p>
                <p>My research interest focuses on Climate Resilience, Resilient Infrastructures, Network Science, Vulnerability Analysis and Data Science. Additionally, I would not pass up a opportunity to work on Air Quality and Water Pollution, since my goals to contribute to a better world also align with these topics.</p>
                <p>I wish to contribute (through my academic and professional career) in work that aims towards sustainable development and sustainability in general. I believe that co-operation, in addition to relevant knowledge and technology, is essential to create a world that welcomes diversity and inclusion and tries to ensure equity for all.</p>
              
                <div class="row">
                    <div class="col-md-12">
                        <h3>Interests</h3>
                        <ul class="ul-interests">
                            <li style="text-align: left;">Climate Resilience, Sustainable Infrastructures and Vulnerabiltiy Analysis</li>
                            <li style="text-align: left;">Air Quality and Water Pollution</li>
                            <li style="text-align: left;">Accident Risk Assessment and Intelligent Transportation Systems</li>
                            <li style="text-align: left;">Disaster Risk Assessment, Flood Hazard mapping and Remote Sensing with GIS</li>
                            <li style="text-align: left;">Data driven approaches in research with a focus on Machine Learning and Data Science</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                   <div class="col-md-12">
                        <h3>Education: </h3>
                        <ul class="ul-edu fa-ul">
                            <li>
                                <i class="fa-li fas fa-graduation-cap"></i>
                                <div class="description">
                                    <p class="course">Bachelor in Science in Civil Engineering</p>
                                    <p class="institution">Bangaldesh University of Engineering and Technology (BUET)</p>
                                    <p>CGPA: 3.78/4.00<br><i>Focus on: <strong></strong>Environmental Engineering and Transportation Engineering</strong></i></p>
                                    
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-md-12">
                        <h3>Recent News</h3>
                        <ul>
                            <li>
                                <a href="https://ieeexplore.ieee.org/document/9743909">Federated 3GPP Mobile Edge Computing Systems: A Transparent Proxy for 3rd-Party Authentication with Application Mobility Support</a> has been accepted to IEEE Access!
                            </li>
                            <li>
                                <a href="files/edge_fog_accepted.pdf">Provisioning Fog Services to 3GPP Subscribers: Authentication and Application Mobility</a> has been accepted to IEEE ICC 2022!
                            </li>
                        </ul>
                    </div>

                </div> -->
                </br>
                </br>
                </br>
            </div>
        </div>
    </div>
</section>
