<section id="awards" class="home-section wg-pages   ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Achievements</h1>
            </div>
            <div class="col-12 col-lg-8">
                <ul class="fa-ul mb-0">
                    <li>
                       <i class="fa fa-check-circle" aria-hidden="true"></i> Student Leadership Development Award <a href="https://drive.google.com/file/d/1Cpo-wkQxWeIBpLxUo4ebZnToAFTGrayK/view">(Credentials)</a>
                    </li>
                    <li>
                        <i class="fa fa-check-circle" aria-hidden="true"></i> Dean's List Award (Leve 1 and Level 3)
                    </li>
                    <li>
                        <i class="fa fa-check-circle" aria-hidden="true"></i> University Merit Scholarship (Level 1)
                    </li>
                    <li>
                        <i class="fa fa-check-circle" aria-hidden="true"></i> One of the Top 10 finalists in <a href="https://drive.google.com/file/d/1VSwSlcmNwRg4CNs08mX6ldaMUG3UTr02/view?usp=sharing">7th Bangladesh Chemistry Olympiad, 2016</a>
                    </li>
                    <li>
                        <i class="fa fa-check-circle" aria-hidden="true"></i> 2nd-Runners-up in <a href="https://drive.google.com/file/d/1EjCVK8abUXxw3fmEd6QQ9JpVo91Mi7JO/view?usp=drive_link">Inter-College Math Olympiad, 2016</a>
                    </li>
                    <li>
                       <i class="fa fa-check-circle" aria-hidden="true"></i> 2nd-Runners-up in <a href="https://drive.google.com/file/d/1yRxW3epoeQG2CHSzHv8tjvmiTzXbtlCM/view?usp=drive_link">Inter-School Science Project, 2013</a>
                    </li>
                </ul>
            </div>
        </div>
        </br>
        </br>
        </br>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Extra Curricular</h1>
            </div>
            <div class="col-12 col-lg-8">
                <ul>
                    <li>
                        <i class="fa fa-check-square-o" aria-hidden="true"></i><a href="https://drive.google.com/file/d/1kiShtsyBwmDq_qq72-MGvy78h6o5ZUUY/view?usp=sharing"> CPD Course on BNBN-2020</a>
                    </li>
                        <li>
                            <i class="fa fa-check-square-o" aria-hidden="true"></i> Founding Assistant Secretary, BUET Innovation and Design Club 
                        </li>
                        <li>
                            <i class="fa fa-check-square-o" aria-hidden="true"></i> Executive member, <a href="https://drive.google.com/file/d/191t8KwlEYQOUSGBaCXrPkSYKjD1RG6Wd/view?usp=drive_link">ASCE BUET Student Chapter</a>
                        </li>
                        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Volunteer: Eccentric Civil Festival at BUET, 2018</li>
                        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Member, BUET Entrepreneurship Development Club</li>
                        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Executive member, BUET Drama Society</li>
                </ul>
            </div>
        </div>
        </br>
        </br>
        </br>
    </div>
</section>
