<section id="awards" class="home-section wg-pages   ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Awards</h1>
            </div>
            <div class="col-12 col-lg-8">
                <ul class="fa-ul mb-0">
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i> Student Leadership Development Award <a href="https://drive.google.com/file/d/1Cpo-wkQxWeIBpLxUo4ebZnToAFTGrayK/view">(Credentials)</a>
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i> Dean's List Award (Leve 1 and Level 3)
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i> University Merit Scholarship (Level 1)
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i> One of the Top 10 finalists in <a href="https://drive.google.com/file/d/1VSwSlcmNwRg4CNs08mX6ldaMUG3UTr02/view?usp=sharing">7th Bangladesh Chemistry Olympiad, 2016</a>
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i> 2nd-Runners-up in <a href="https://drive.google.com/file/d/1EjCVK8abUXxw3fmEd6QQ9JpVo91Mi7JO/view?usp=drive_link">Inter-College Math Olympiad, 2016</a>
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i> 2nd-Runners-up in <a href="https://drive.google.com/file/d/1yRxW3epoeQG2CHSzHv8tjvmiTzXbtlCM/view?usp=drive_link">Inter-School Science Project, 2013</a>
                    </li>
                </ul>
            </div>
        </div>
        </br>
        </br>
        </br>
    </div>
</section>
