<section id="contact" class="home-section wg-contact   ">
    <div class="container">
        <div class="row contact-widget">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Contact</h1>
            </div>
            <div class="col-12 col-lg-8">
                <ul class="fa-ul">
                    <li>
                        <i class="fa-li fas fa-envelope fa-2x " aria-hidden="true "></i>
                        <span id="person-email "><a href="mailto:irfankarim5656@gmail.com">irfankarim5656@gmail.com</a></span>
                    </li>
                     <li>
                        <i class="fa-li fas fa-envelope fa-2x " aria-hidden="true "></i>
                        <span id="person-email "><a href="mailto:1704002@ce.buet.ac.bd">1704002@ce.buet.ac.bd</a></span>
                    </li>
                    <li>
                        <i class="fa-li fab fa-twitter fa-2x " aria-hidden="true "></i>
                        <a href="https://twitter.com/IrfanKarim_1010" target="_blank " rel="noopener ">Reach me on Twitter</a>
                    </li>
                    
                    <li>
                        <i class="fa-li fab fa-download fa-2x " aria-hidden="true"></i>
                        Download my <a href="https://buetedu-my.sharepoint.com/:f:/g/personal/1704002_ce_buet_ac_bd/En3HxVRpu_ZLqUfMUsizTA4Blw3w6SJpzz8pukvui44tqg?e=G8Jqk6" target="_blank " rel="noopener ">CV</a>
                    </li>
                    <li>
                        <i class="fa-li fas fa-map-marker fa-2x " aria-hidden="true "></i>
                        <span id="person-address ">Address: JRC Civil Engineering Building, Bangladesh University of Engineering and Technology (BUET), Dhaka-1000</span>
                    </li>
                </ul>
                <div class="d-none">
                    <input id="map-provider" value="2">
                    <input id="map-lat" value="23.726690929516398">
                    <input id="map-lng" value="90.39257543955078">
                    <input id="map-dir" value="JRC Civil Engineering Building, Bangladesh University of Engineering and Technology (BUET)">
                    <input id="map-zoom" value="15">
                    <input id="map-api-key " value="">
                </div>
                <div id="map"></div>
            </div>
        </div>
    </div>
</section>
