<section id="coursework" class="home-section wg-coursework">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Relevant Coursework</h1>
            </div>
            <div class="col-15 col-lg-8">
                <table>
                    <tr>
                      <th><u>Course Teacher</u></th>
                      <th><u>Courses</u></th>
                    </tr>
                    <tr>
                      <td><a href="https://ce.buet.ac.bd/sheikh-mokhlesur-rahman/">Dr. Sheikh Mokhlesur Rahman</a></td>
                      <td>Environmental Pollution Management (Water pollution), Engineering Materials, Surveying</td>
                    </tr>
                    <tr>
                      <td><a href="https://ce.buet.ac.bd/profile-of-muhammad-ashraf-ali/">Dr. Muhammad Ashraf Ali</a></td>
                      <td>Environmental Pollution Management (Air pollution), Environmental Engineering II, Enviromental Engineering Laboratory</td>
                    </tr>
                    <tr>
                      <td><a href="https://ce.buet.ac.bd/profile-of-tanvir-ahmed/">Dr. Tanvir Ahmed</a></td>
                      <td>Basic Environmental Management, Environmental Engineering I, Numerical Methods</td>
                    </tr>
                    <tr>
                      <td><a href="https://scholar.google.com/citations?user=rtqRXsUAAAAJ&hl=en">Dr. A.B.M. Badruzzaman</a></td>
                      <td>Environmental Engineering II, Enviromental Engineering Laboratory, Solid and Hazardous Waste Management</td>
                    </tr>
                  </table>
                 <table>
                    <tr>
                      <th><u>Course Teacher</u></th>
                      <th><u>Courses</u></th>
                    </tr>
                    <tr>
                      <td><a href="https://ce.buet.ac.bd/profile-of-m-neaz-murshed/">Dr.M. Neaz Murshed</a></td>
                      <td>Transportation Engineering V (Urban Transportation Planning and Management), Transportation Engineering IV (Airport), Surveying</td>
                    </tr>
                    <tr>
                      <td><a href="https://ce.buet.ac.bd/profile-of-md-hadiuzzaman/">Dr.Md. Hadiuzzaman</a></td>
                      <td>Transportation Engineering V (Urban Transportation Planning and Management), Transportation Engineering II (Flexible Pavement Design), Applied Mathematics for Engineers (Probability and Statistical Analysis)</td>
                    </tr>
                    <tr>
                      <td><a href="https://www.baetebangladesh.org/m-mizanur-rahman.php">Dr.Md. Mizanur Rahman</a></td>
                      <td>Project Planning and Construction Management, Transportation Engineering IV (Drainage)</td>
                    </tr>
                    <tr>
                      <td><a href="https://shoque.buet.ac.bd/">Dr.Md. Shamsul Hoque</a></td>
                      <td>Transportation Engineering II (Rigid Pavement Design), Transportation Engineering I (Traffic Engineering) </td>
                    </tr>
                  </table>
            </div>
        </div>
        </br>
        </br>
        </br>
    </div>
</section>
