<section id="education" class="home-section wg-pages">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Education</h1>
            </div>
            <div class="col-12 col-lg-8">
                <div class="card-simple">
                    <h3 class="article-title mb-1 mt-3">Bangladesh University of Engineering and Technology (BUET)</h3>
                    <div class="article-metadata">
                        <span class="article-date">
                           May, 2023
                        </span>
                    </div>
                    <h4>Bacheslor of Science in Civil Engineering</h4>
                    <p><strong>CGPA: 3.78/4.00<br><br>Focus on: Environmental Engineering and Transportation Engineering</strong></p>
                 </div>
            </div>
        </div>
    </div>
</section>
<!--<section id="education" class="home-section wg-pages">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Education</h1>
            </div>
            <div class="col-12 col-lg-8">
                <div class="card-simple">
                    <h3 class="article-title mb-1 mt-3">
                        Bangladesh University of Engineering and Technology (BUET)
                    </h3>
                    <div>
                        <span class="article-header"><b>Bachelor of Science in Civil Engineering</b></span>
                    </div>
                    <div class="article-metadata">
                        <span class="article-date">
                            May, 2023
                        </span>
                    </div>
                    <div class="article-style">
                        <p><strong>CGPA: 3.78/4.00<br><br>Focus on: Environmental Engineering and Transportation Engineering</strong></p>
                    </div>
                </div>
            </div>
        </div>
        </br>
        </br>
        </br>
    </div>
</section> -->
<section id="research" class="home-section wg-pages">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Research Experience</h1>
            </div>
            <div class="col-12 col-lg-8">
                <div class="card-simple">
                    <h3 class="article-title mb-1 mt-3">
                        Multi-Criteria Assessment of Vulnerability of Road Network due to Flooding Events
                    </h3>
                    <h4>Undergraduate Thesis</h4>
                    <p><strong>Supervised by <a href="https://scholar.google.com/citations?user=rTprlQsAAAAJ&hl=en">Dr. Sheikh Mokhlesur Rahman</a></strong></p>
                    <p>
                        <ul>
                            <li style="text-align: left;"> Assessed the Vulnerability of road network of two districts of Bangladesh (Sylhet and Mymensingh) to Flooding Events</li>
                            <li style="text-align: left;"><b>Network Science</b> based approach to quantify the vulnerability in three metrics: <b>Topological features</b> (Active road lengh), <b>Centrality measures</b> (Node betweenness centrality) and <b>Accessibility</b> (Service Area)</li>
                            <li style="text-align: left;"> Utilized <i>Flood Inundation Maps</i> of three return periods: 25 years, 50 years and 100 years</li>
                        </ul>
                    </p>
                    <p><strong><u>Publication and Grants</u></strong></p>
                    <p>
                        <ul>
                            <li style="text-align: left;">Received Grant for conducting this research (out of 100+ undergrad thesis) from <a href="https://drive.google.com/file/d/1RC8VZRf5IFLR39N5hJCanON6-R7BBQcr/view?usp=sharing">RISE, BUET</a></li>
                            <li style="text-align: left;">Accepted and Presented in <a href="https://icwfm2023.info/">9th International Conference on Water and Flood Management, 2023</a></li>
                            <li style="text-align: left;">Shortlisted by the conference authority for a full paper submission in the <b>"Progress in Disaster Science"</b> journal</li>
                        </ul>
                    </p>
            </div>
        </div>
        </br>
        </br>
        </br>
    </div>
</section>
