<section id="education" class="home-section wg-pages">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Education</h1>
            </div>
            <div class="col-12 col-lg-8">
                <div class="card-simple">
                    <h3 class="article-title mb-1 mt-3">Bangladesh University of Engineering and Technology (BUET)</h3>
                    <h4>Bacheslor of Science in Civil Engineering</h4>
                  <div class="article-metadata">
                        <span class="article-date">May, 2023</span>
                  </div>
                    <p><strong>CGPA: 3.78/4.00<br><br>Focus on: Environmental Engineering and Transportation Engineering</strong></p>
             </div>
        </br>
        </br>
        </br>
    </div>
</section>
