<section id="experience" class="home-section wg-pages">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Professional Experience</h1>
            </div>
            <div class="col-12 col-lg-8">
                <div class="card-simple">
                    <h3 class="article-title mb-1 mt-3">
                        Junior Project Engineer
                    </h3>
                    <div>
                        <span class="article-header">Bureau of Research, Testing and Consultation, <a href="https://brtc.buet.ac.bd/">BRTC-BUET</a><br>Bangladesh University of Engineering and Technology</span>
                    </div>
                    <div class="article-metadata">
                        <span class="article-date">
                            September, 2023 - Present.
                        </span>
                        <span class="middot-divider"></span>
                    </div>
                    <div class="article-style">
                        <p> The position "Research Assistant" is renamed to Junior Project Engineering for extensive Involvement in projects</p>
                         <li style="text-align: left;">Assisting in the Top Supervision Project for Construction of U-loop Interchange in Paduar Bazaar</li>
                            <li style="text-align: left;">Inception Report for the Construction of Flyover (with Cloverleaf Interchange) near Chowmuhani bazaar to alleviate traffic congestion</li>
                            <li style="text-align: left;">Accident Risk Assessment and Intelligent Transportation Systems</li>
                            <li style="text-align: left;">Disaster Risk Assessment, Flood Hazard mapping and Remote Sensing with GIS</li>
                            <li style="text-align: left;">Data driven approaches in research with a focus on Machine Learning and Data Science</li>
                    </div>
                </div>
                <div class="card-simple">
                    <h3 class="article-title mb-1 mt-3">
                        Machine Learning Engineer
                    </h3>
                    <div>
                        <span class="article-header"><a href="https://www.spectrum-bd.com/">Spectrum Software & Consulting Ltd</a></span>
                    </div>
                    <div class="article-metadata">
                        <span class="article-date">
                            Feb, 2023 - May, 2023.
                        </span>
                        <span class="middot-divider"></span>
                        <span class="pub-publication">  
                        </span>
                    </div>
                    <div class="article-style">
                        <p> Deployed Mathematical models, built machine learning tools and devised financial engineering solutions</p>
                    </div>
                </div>
                
            </div>
        </div>
        </br>
        </br>
        </br>
    </div>
</section>
