<section id="experience" class="home-section wg-pages">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Professional Experience</h1>
            </div>
            <div class="col-12 col-lg-8">
                <div class="card-simple">
                    <h3 class="article-title mb-1 mt-3">
                        Junior Project Engineer
                    </h3>
                    <div>
                        <span class="article-header">Bureau of Research, Testing and Consultation, <a href="https://brtc.buet.ac.bd/">BRTC-BUET</a><br>Bangladesh University of Engineering and Technology</span>
                    </div>
                    <div class="article-metadata">
                        <span class="article-date">
                            September, 2023 - Present.
                        </span>
                        <span class="middot-divider"></span>
                    </div>
                    <div class="article-style">
                        <p> The position "Research Assistant" is renamed to Junior Project Engineering for extensive Involvement in projects</p>
                           <ul> 
                             <li style="text-align: left;">Assisting in the Top Supervision Project for Construction of U-loop Interchange in Paduar Bazaar</li>
                             <li style="text-align: left;">Inception Report for the Construction of Flyover (with Cloverleaf Interchange) near Chowmuhani bazaar to alleviate traffic congestion</li>
                             <li style="text-align: left;"> Preparation of the Feasibility Report for the Construction of Grade Separated Intersection in Feni-Noakhali National Highway to facilitate smooth traffic flow</li>
                           </ul>
                    </div>
                </div>
                <div class="card-simple">
                    <h3 class="article-title mb-1 mt-3">
                        Research Assistant
                    </h3>
                    <div>
                        <span class="article-header">Bureau of Research, Testing and Consultation, <a href="https://brtc.buet.ac.bd/">BRTC-BUET</a><br>Bangladesh University of Engineering and Technology</span>
                    </div>
                    <div class="article-metadata">
                        <span class="article-date">
                            June, 2023 - September, 2023.
                        </span>
                        <span class="middot-divider"></span>
                        <span class="pub-publication">  
                        </span>
                    </div>
                    <div class="article-style">
                        <p>
                            <ul> 
                             <li style="text-align: left;">Actively participated in Traffic Volume Surveys involving categorized vehicle counts and spot speed and average speed measurements</li>
                             <li style="text-align: left;"> Facilitated project meetings: documenting key points and delegating relevant tasks</li>
                             <li style="text-align: left;">Prepared the layout plan and various structural components of an overpass using AutoCAD</li>
                           </ul>
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
        </br>
        </br>
        </br>
    </div>
</section>
