<section id="skills" class="home-section wg-pages">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Skills</h1>
            </div>
            <div class="col-12 col-lg-8">
                <div class="card-simple">
                    <h3 class="article-title mb-1 mt-3">Languages</h3>
                    <div>
                        <span class="article-header"></span>
                    </div>
                    <div class="article-metadata">
                        <span class="article-date"></span>
                        <span class="middot-divider"></span>
                    </div>
                    <div class="article-style">
                           <ul> 
                             <li style="text-align: left;"><b>French: </b>Fluent. <a href="https://drive.google.com/file/d/19L5Ori5Snm3z9_NYnMbZ10VBKwV5DP9a/view?usp=sharing">CEFR Level: B1</a></li>
                             <li style="text-align: left;"><b>English: </b>Fluent. Overall <a href="https://drive.google.com/file/d/1sGcDBf4b97wkZu2OSIJ3gVdUfvA9ELuQ/view?usp=drive_link">Band Score: 8.0</a></li>
                           </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="card-simple">
                    <h3 class="article-title mb-1 mt-3">Softwares</h3>
                  
                    <div>
                        <span class="article-header"></span>
                    </div>
                    <div class="article-metadata">
                        <span class="article-date"></span>
                        <span class="middot-divider"></span>
                    </div>
                    <div class="article-style">
                           <ul> 
                             <li style="text-align: left;"><b>ArcGIS Pro</b></li>
                             <li style="text-align: left;"><b>CSI ETABS</b></li>
                             <li style="text-align: left;"><b>CSI SAP2000</b></li>
                             <li style="text-align: left;"><b>Python</b></li>
                             <li style="text-align: left;"><b>MATLAB</b></li>
                             <li style="text-align: left;"><b>AutoCAD</b></li>
                             <li style="text-align: left;"><b>MS Excel, MS PowerPoint and MS Word</b></li>
                             <li style="text-align: left;"><b>Gephi</b></li>
                           </ul>
                    </div>
                </div>
            </div>
        </div>
        </br>
        </br>
        </br>

    </div>
</section>
